
<div class="navbar navbar-expand-lg navbar-static-top d-flex px-4 justify-content-between mb-3">
  <div>
    <%= link_to "Commercial Contacts", root_path %>
  </div>
  <div>
    <ul class="nav navbar-nav">
      <%= display_functional_navigation(@user) %>
    </ul>
  </div>
</div>
